.nopadding{
	padding: 0;
}
body{
	background: #e6e6e6;
}
.btn{
	border-radius: 0;
}
button{
	border-radius: 0;
}
.container{
	background: white;
}
.single-item{
	
	height: 300px;
	border: solid 1px silver;
	box-shadow: 0 0 5px gray;
	margin-top: 10px;
	margin-bottom: 10px;
}
.top{
	background: white;
	height: 200px;
}
	.top img{
		 display: block;
    margin-left: auto;
    margin-right: auto;
	}
.bottom{
	background: lightblue;
	height: 98px;
}
.bottom2{
	background: #aacbff;
	height: 98px;
}
.item-title{
	padding-top: 10px;
	font-weight: bold;
	font-size: 20px;
	padding-left: 10px;
}
.original-price{
	font-size: 17px;
	padding-right: 10px;
	font-weight: bold;
}
.discount-price{
	font-size: 17px;
	color: green;
	font-weight: bold;
	padding-right: 10px;
	font-style: italic;
}
.navpad2{
	margin-top: 10px; 
}
.navpad1{
	margin-bottom: 10px;
}
.product-page-title{
	font-size: 40px;

}
.imagebox{
	border: 2px solid silver;
	box-shadow: 0 0 7px silver;
}
.list-group-item{
	font-size: 27px;
	border-left: 0;
	border-right: 0;
}
.list-group-item:hover{
	background-color:#C7FFC9;
}
.xyz{
	font-size: 20px;
}